.contactsForm {
  width: 300px;
}
.label {
  display: block;
  margin: 25px 0;
  position: relative;
}
.input {
  position: absolute;
  left: 70px;
  top: -5px;
  border: 1px solid transparent;
  padding: 8px;
  display: block;
  width: 80%;
  background-color: white;
  border-radius: 5px;
}
.input[placeholder] {
  font-size: 10px;
  color: #0f1f38;
  border: 1px solid transparent;
  border-radius: 6px;
  background-color: white;
}

.label:hover .input,
.label:active .input,
.label:focus-within .input {
  border: 1px solid lightskyblue;
  color: lightskyblue;
  cursor: pointer;
}
.contactsFormBtn {
  position: relative;
  border: none;
  text-transform: uppercase;
  text-decoration: none;
  height: 35px;
  color: #2f2e33;
  top: -47px;
  left: 320px;
  background-color: white;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 5px 10px -5px;
}
.contactsFormBtn:hover,
.contactsFormBtn:active {
  background-color: lightskyblue;
  color: white;
}
