@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');
:root {
  --main-color: #2f2e33;
  --hover-color: #87cefa;
  --input-bg-color: #fff;
  --border-color: #d3d3d3;
  --btn-hover-bg: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
  --btn-hover-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  --placeholder-font-size: 14px;
  --input-border-radius: 6px;
  --font-family: 'Poppins', sans-serif;
  --main-font-weight: 300;
  --titles-font-weight: 600;
}
body {
  background-image: #ff0000;
  background-image: radial-gradient(
      at 40% 20%,
      hsla(28, 100%, 74%, 1) 0,
      transparent 50%
    ),
    radial-gradient(at 80% 0%, hsla(189, 100%, 56%, 0.5) 0, transparent 50%),
    radial-gradient(at 0% 50%, hsla(355, 85%, 93%, 0.5) 0, transparent 50%),
    radial-gradient(at 80% 50%, hsla(340, 100%, 76%, 0.5) 0, transparent 50%),
    radial-gradient(at 0% 100%, hsla(22, 100%, 77%, 0.5) 0, transparent 50%),
    radial-gradient(at 80% 100%, hsla(242, 100%, 70%, 0.5) 0, transparent 50%),
    radial-gradient(at 0% 0%, hsla(343, 100%, 76%, 0.5) 0, transparent 50%);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  color: var(--main-color);
  font-family: var(--font-family);
  font-weight: var(--main-font-weight);
}

.mainDiv {
  position: relative;
  width: 98%;

  margin: 50px auto;
  min-height: 400px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 30px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
  padding: 10px;
  background-clip: content-box;
}

@media screen and (min-width: 580px) {
  .mainDiv {
    display: flex;
  }
}
@media screen and (min-width: 1000px) {
  .mainDiv {
    width: 1000px;
  }
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
h2 {
  margin: 0;
}
h1,
h2 {
  font-weight: var(--titles-font-weight);
}
