.btnDelete {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: #ff7f50;
  margin-top: -25px;
  margin-left: auto;
  display: block;
  color: white;
  box-shadow: rgba(9, 30, 66, 0.15) 0px 0.5px 0.5px,
    rgba(9, 30, 66, 0.13) 0px 0px 0.5px 0.5px;
}
.btnDelete:hover,
.btnDelete:active {
  background-color: orangered;
}
.ContactListSpan {
  margin: 0 10px;
}
.ContactList {
  position: relative;
}
.ContactListItem {
  margin-bottom: 20px;
}
