.btnDelete {
  padding: 5px 10px;
  border: none;
  border-radius: 6px;
  margin-top: -25px;
  margin-left: auto;
  display: block;
  color: #2f2e33;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.2) 0 5px 10px -5px;
}
.btnDelete:hover,
.btnDelete:active {
  background-color: hsla(22, 100%, 77%, 1);
  color: white;
}
.ContactListSpan {
  margin: 0 10px;
}
.ContactList {
  position: relative;
}
.ContactListItem {
  margin-bottom: 20px;
}
